---

---

<!-- Navigation Bar Component -->
<nav class="relative z-50">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-24">
      <a href="/" class="flex items-center gap-3">
        <img
          src="/assets/images/tano-logo_w.png"
          alt="The Alan Norman Observatory"
          class="h-20 w-auto"
        />
      </a>
      <div class="flex items-center space-x-6">
        <a href="/"
          class="text-lg text-starlight-200 hover:text-nebula-500 transition-colors"
          >Home</a>

        <a href="/posts/"
          class="text-lg text-starlight-200 hover:text-nebula-500 transition-colors"
          >Blog</a>
        
        <a href="/projects/"
          class="text-lg text-starlight-200 hover:text-nebula-500 transition-colors"
          >Images</a>
        
        <a href="/about/"
          class="text-lg text-starlight-200 hover:text-nebula-500 transition-colors"
          >The Observatory</a>
      </div>
    </div>
  </div>
</nav>

